{% extends "base.html" %}

{% block content %}

<div class="jumbotron" style="background-color: #fff;">

<div id="top">

  <div id="main">

        <h1>Recipe Search!</h1>
          <p class="lead">What's for dinner?
          <br>Enter the ingredients you have.</p>
  </div>

    <!-- search form -->
    <div id="search">
      <form role="form" method="POST" id="post-form" onsubmit="return false">
        <div class="form-group">
        <center><input type="text" class="form-control" name="ingredient"   placeholder="for example: chocolate, kale, high fructose corn syrup..." style="max-width: 400px;" required></center>
        </div>
        <button type="submit" class="btn btn-lg btn-info boom">Go!</button>
        <button type="submit" class="btn btn-default btn-small retry">Try again</button>
        <button type="button" class="btn btn-default btn-small save">Save Recipe</button>
      </form>
    </div>
</div>
<div id="errors">
  <p class="errors">
  </p>
</div>
<div id="results"></div>

  <br>
<div id="links">
  <p class="new-link"><a href="#">New Search?</a></p>
</div>

</div> <!-- /jumbotron -->

{% endblock %}